@import './colors.css';
@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  color: var(--primary);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Common utility classes */
.bg-offset {
  background-color: var(--background-offset);
}

.bg-offset-custom {
  background-color: var(--background-offset) !important;
}